version: "3.8"

services:
  postgres:
    image: postgres:13
    container_name: airflow-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - airnet

  airflow-init:
    image: apache/airflow:2.7.3
    container_name: airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-docker==3.10.0 docker==6.1.3
    depends_on:
      - postgres
    volumes:
      - ./dags:/opt/airflow/dags
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: >
      bash -c "airflow db init &&
               airflow users create --username admin --firstname Admin --lastname User
               --role Admin --email admin@example.com --password admin || true"
    networks:
      - airnet

  airflow-webserver:
    image: apache/airflow:2.7.3
    container_name: airflow-webserver
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__SECRET_KEY=mysecretkey
      - PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-docker==3.10.0 docker==6.1.3
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - /var/run/docker.sock:/var/run/docker.sock
    command: webserver
    networks:
      - airnet

  airflow-scheduler:
    image: apache/airflow:2.7.3
    container_name: airflow-scheduler
    restart: always
    depends_on:
      - postgres
      - airflow-webserver
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__SECRET_KEY=mysecretkey
      - PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-docker==3.10.0 docker==6.1.3
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - /var/run/docker.sock:/var/run/docker.sock
    command: scheduler
    networks:
      - airnet

  spark-job-build:
    build:
      context: .
      dockerfile: Dockerfile
    image: spark-compact-job:latest
    container_name: spark-job-build
    networks:
      - airnet

volumes:
  postgres_data:
  logs:

networks:
  airnet:
    driver: bridge
