version: '3.8'

x-airflow-common: &airflow-common
  image: apache/airflow:2.7.1 # Заданная версия Airflow
  env_file:
    - .env
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/plugins:/opt/airflow/plugins
    - airflow-logs:/opt/airflow/logs
    # Монтируем сокет Docker, чтобы DockerOperator мог запускать "братские" контейнеры
    - /var/run/docker.sock:/var/run/docker.sock
    # Создадим общий том для данных, которые Spark будет генерировать
    - shared-data:/opt/spark/data

services:
  postgres:
    image: postgres:13 # (Пункт 1)
    container_name: airflow_postgres
    env_file:
    - .env
    volumes:
      # Этот скрипт создаст нашу целевую таблицу (Пункт 6)
      - ./init-db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres-db:/var/lib/postgresql/data
    ports:
      - "5432:5432" # Открываем для отладки (можно убрать)
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      timeout: 5s
      retries: 5

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    container_name: airflow_webserver
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    container_name: airflow_scheduler
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure

  # Служба для инициализации БД Airflow
  airflow-init:
    <<: *airflow-common
    container_name: airflow_init
    entrypoint: /bin/bash
    command: -c "airflow db init && airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres-db:
  airflow-logs:
  shared-data: # Том, где будут лежать сгенерированные файлы